h1 {
  font-size: 24px;
}

#simplify-success {
  display: none;
}

#secure3d-frame {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

#secure3d-frame.text {
  color: black;
}